.container {
  border: 1px solid black;
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 80px;
  height: 80px;
  background-color: darkslategray;
  border-radius: 50px;
}
ul {
  list-style-type: none;
  height: 70px;
  padding: 0;
  height: 51px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  width: 210px;
}
li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid grey;
  align-items: center;
  max-height: 45px;
  width: 70px;
  padding: 3px;

  background-color: darkgray;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
p {
  margin-top: 3px;
  margin-bottom: 3px;
  color: grey;
}
.name {
  font-weight: 800;
  color: black;
}
.stats {
  font-weight: 600;
}
