.friendList {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}
.friendCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 5px;
}
.online {
  color: green;
}
.offline {
  color: red;
}
